<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
			<remove fileExtension=".mp4" />
			<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
	        <remove fileExtension=".wasm" />
            <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
			<remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
			<remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
			<remove fileExtension=".data"/>
			<mimeMap fileExtension=".data" mimeType="application/octet-stream"/>  
        </staticContent>
		<httpProtocol>
			<customHeaders>
				<add name="X-SkylineGlobe" value="SkylineGlobe"/>
        <add name="Cross-Origin-Embedder-Policy" value="require-corp"/>
        <add name="Cross-Origin-Resource-Policy" value="cross-origin"/>
		<add name="Cross-Origin-Opener-Policy" value="same-origin" />
				<add name="Access-Control-Expose-Headers" value="X-SkylineGlobe"/>
      </customHeaders>
		</httpProtocol>
    </system.webServer>
</configuration>
